<div class="search">
<h2>New physician search</h2>
<%= form_tag({:action => :create}) do %>
  <p>
  <%= label_tag :address, "Search by patient address:" %>
  <%= text_field_tag :address %>
  </p>
  <p class="form-or">
  OR
  </p>
  <p>
  <%= label_tag :zipcode, "zip code:", :id => "zip-code-tag" %>
  <%= text_field_tag :zipcode %>
  </p>
  <p>
  <%= label_tag :specialty, "Specialty (optional):"%>
  <%= text_field_tag :specialty %>
  </p>
  <%= submit_tag "Search", :class => "btn btn-primary" %>
<% end %>
</div>
<div id="doctor_results">
<ol>
  
</ol>
<a id="search_again" href="/">Search again</a>
</div>
