<div class="bs-component">
  <div class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>">Doctor Search</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li<%= ' class=active' if @active==:search %>><a href="<%= search_path %>">Search</a></li>
        <li<%= ' class=active' if @active==:list %>><a href="<%= doctors_path %>">List</a></li>
      </ul>
    </div>
  </div>
</div><!-- /example -->